*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    height:100vh;
    overflow:hidden;
    display:flex;
    justify-content:center;
    align-items:center;
    font-family:'Segoe UI',sans-serif;
    background:linear-gradient(
        180deg,
        #07142f 0%,
        #132b5c 40%,
        #2a3f83 100%
    );
    position:relative;
}
/* Fondo de estrellas */
.stars{
    position:absolute;
    width:100%;
    height:100%;
    background-image:
        radial-gradient(white 1px, transparent 1px),
        radial-gradient(white 1px, transparent 1px),
        radial-gradient(#ffeaa7 1.5px, transparent 1.5px);
    background-size:
        140px 140px,
        220px 220px,
        280px 280px;
    animation:twinkle 6s linear infinite;
}
/* Contenedor */
.container{
    position:relative;
    z-index:10;
    width:90%;
    max-width:700px;
    text-align:center;
    background:rgba(255,255,255,.12);
    backdrop-filter:blur(15px);
    padding:50px;
    border-radius:25px;
    border:1px solid rgba(255,255,255,.25);
    box-shadow:0 0 35px rgba(255,255,255,.18);
}
/* Título */
h1{
    color:white;
    font-size:3rem;
    margin-bottom:15px;
    text-shadow:0 0 15px pink;
}
/* Subtítulo */
h2{
    color:#ffd6f5;
    margin-bottom:30px;
    font-weight:400;
}
/* Texto */
.texto{
    color:white;
    line-height:1.9;
    font-size:1.1rem;
}
/* Botón */
button{
    margin-top:40px;
    padding:16px 45px;
    border:none;
    border-radius:50px;
    cursor:pointer;
    font-size:1rem;
    font-weight:bold;
    background:#ff7eb6;
    color:white;
    transition:.35s;
}
button:hover{
    transform:scale(1.08);
    background:#ff5ca3;
    box-shadow:0 0 25px #ff8bc2;
}
/* Emojis */
.floating{
    position:absolute;
    width:100%;
    height:100%;
    overflow:hidden;
    pointer-events:none;
}
.floating span{
    position:absolute;
    font-size:24px;
    animation:float 12s linear infinite;
    opacity:.85;
}
.floating span:nth-child(1){left:8%;animation-delay:0s;}
.floating span:nth-child(2){left:18%;animation-delay:2s;}
.floating span:nth-child(3){left:30%;animation-delay:4s;}
.floating span:nth-child(4){left:43%;animation-delay:6s;}
.floating span:nth-child(5){left:56%;animation-delay:8s;}
.floating span:nth-child(6){left:68%;animation-delay:10s;}
.floating span:nth-child(7){left:79%;animation-delay:3s;}
.floating span:nth-child(8){left:90%;animation-delay:5s;}
.floating span:nth-child(9){left:96%;animation-delay:7s;}
/* Animaciones */
@keyframes float{
    from{
        transform:translateY(110vh) rotate(0deg);
    }
    to{
        transform:translateY(-120vh) rotate(360deg);
    }
}
@keyframes twinkle{
    from{
        opacity:.75;
    }
    50%{
        opacity:1;
    }
    to{
        opacity:.75;
    }
}
